# Defines the ANGLE style for automatic reformatting.
# https://code.google.com/p/angleproject/wiki/CodingStandard
# See Clang docs: http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

Language: Cpp
Standard: Latest
UseTab: Always
IndentWidth: 4
ColumnLimit: 120

PointerAlignment: Left
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true

AllowShortFunctionsOnASingleLine: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterCaseLabel: true
  AfterFunction: true
  BeforeElse: true


